body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navigation{
  background: linear-gradient(to bottom, #f58220 -18%, #b02a30 127%); 
  font-family: 'Mulish', sans-serif;
  width: 100vw;
}

.container1{
  background-color: #182C61;
}
#portexipolicy{
  color: #ec6608;
}
.cashBefit{
  background-color: #3B3B98;
}
.cashlessHospital{
  background-color: #182C61;
}
.befitCover{
  background-color: #182C61;
}